workflow:
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"

stages:
  - build

build-job:
  stage: build
  image: eclipse-temurin:21-jdk
  tags:
    - saas-linux-small-amd64
  script:
    - chmod +x mvnw || true
    - ./mvnw -B clean package || mvn -B clean package
  artifacts:
    paths:
      - ./target/*.jar
