workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"

stages:
  - build

build:
  stage: build
  tags:
    - sass-linux-small-amd64
  image: eclipse-temurin:21-jdk
  script:
    - chmod +x ./mvnw
    - ./mvnw clean package
  artifacts:
    paths:
      - ./target/*.jar